body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.logo h2 {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

.logo img {
  height: 10rem;
  width: 10rem;
}

body select {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.complaints-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.return-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 30rem;
  padding: 2rem;
}

.field {
  display: flex;
  gap: 1rem;
}

.field textarea {
  width: 25rem;
  height: 5rem;
}
