<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dianome | Reclamações</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="logo">
      <img src="./assets/truck.svg" alt="Dianome logo" />
      <h2>DIANOME entregas inteligentes</h2>
    </div>
    <div class="complaints-wrapper" id="complaints-wrapper">
      <h1>Reclamações</h1>
      <select id="select">
        <option value="null">Escolha uma opção</option>
        <option value="return-all">Ver todas as reclamações</option>
        <option value="search-by-id">Buscar reclamação</option>
        <option value="post">Adicionar reclamação</option>
      </select>
    <div id="complaints-action"></div>
    <script src="index.js"></script>
  </body>
</html>
